@model IEnumerable<OrderModel>



<div class="row justify-content-center align-items-center">
    <div class="card w-100 mt-3">
        <div class="card-body">
            @foreach (var order in Model)
            {
                
            <ul class="list-group list-group-horizontal mt-3">
                <li class="list-group-item">Ordernummer: @order.OrderId</li>
                @foreach (var item in @order.Items)
                {
                    <li class="list-group-item">Produktnamn: @item.Name</li>
                <li class="list-group-item">Pris: @item.Price kr/st</li>
                }
                
            </ul>
                <ul class="list-group list-group-horizontal mt-3">
                    <li class="list-group-item">Totalsumma:@order.TotalPrice kr</li>
                </ul>
            }
            
        </div>
    </div>
</div>