@model ProductVM

<div class="row justify-content-center align-items-center">
@foreach (var item in Model.Products)
{
    <input hidden value="@item.Id"/>
    <div class="card w-75 mt-3">
        <div class="card-body">
            <h5 class="card-title"><a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id.ToString()">@item.Name</a></h5>
            <p class="card-text">@item.Price kr</p>
            <a href="#" class="btn btn-dark">Lägg i kundvagn</a>
        </div>
    </div>
}
</div>