@model ProductVM

<div class="row justify-content-center align-items-center">
@foreach (var item in Model.Products)
{
    <input hidden value="@item.Id"/>
    <div class="card w-75 mt-3">
        <div class="card-body">
            <h5 class="card-title">@item.Name</h5>
            <p class="card-text">@item.Price kr</p>
            <a asp-controller="Product" asp-action="Details" asp-route-productId="@item.Id" class="btn btn-dark">Mer info</a>
        </div>
    </div>
}
</div>